body {
  background-color: #dbdfea;
}

h1 {
  font-family: "Cormorant Infant", serif;
  font-size: 64px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: #65647c;
  margin-bottom: 20px;
}

p {
  font-family: "Cormorant Infant", serif;
  font-size: 24px;
  color: #65647c;
  font-weight: 700px;
  text-align: center;
}

.city-gallery {
  padding: 50px 80px;
}

.img-fluid {
  max-width: 300;
  border-radius: 10px;
  border: 4px solid #f7ffe5;
}
